:root {
    --fundo: #1b2223;
    --fundo2: #3a4f50;
    --texto: #0ef6cc;
    --botao: #fafefd;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

main {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main .loja {
    width: 30%;
    height: 100%;
    background: var(--fundo2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item p {
    font-size: 1.4em;
    color: var(--texto);
    margin-left: 10px;
}

.item span {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--botao);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

main .game {
    width: 70%;
    height: 100%;
    background: var(--fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.game h3 {
    font-size: 2em;
    color: var(--texto);
    text-align: center;
}

.game #ball {
    width: 250px;
    height: 250px;
    background: var(--botao);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}

div.click {
    animation: clique 0.1s;
}

@keyframes clique {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.9;
    }

    100% {
        scale: 1;
    }
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
        justify-content: center;
    }

    main section {
        width: 100% !important;
    }

    main .loja {
        height: 30%;
        justify-content: center;
    }

    main .game {
        height: 70%;
    }

}